/* CSS reset*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: calc(100vh - 2 * var(--menu-height));
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}

/* Styles communs */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

main,
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 auto;
    /* padding: 64px 32px; */
    max-width: 700px;

    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 16px;
}

:root {
    font-size: 18px;
    font-family: Inter, sans-serif;

    background-color: #000;
    color: #bbb;

    --theme-primary: #fd1;
    --theme-secondary: #999;

    line-height: 1.4;

    --menu-height: 64px;
}

html[data-theme="employe"] {
    --theme-primary: #c6f;
}

/* Éléments communs */
input:not([type="range"]),
textarea,
select,
.input,
.button,
.box,
.text,
nav ul li a {
    --bg-color: transparent;
    --border-color: grey;
    --border-size: 2px;

    background: var(--bg-color);
    box-shadow: 0 0 0 var(--border-size) var(--border-color);
    border-radius: 1px;
    padding: 4px;
}

input:not([type="range"]),
textarea,
select,
.input,
.button {
    display: block;
    border: none;
    color: inherit;

    padding: 2px 4px;

    transition: all 150ms ease-out;
    transition-property: box-shadow, background;
}

input:not([type="range"]):hover,
textarea:hover,
select:hover,
.input:hover,
.button:hover {
    --border-color: var(--theme-primary);
    --border-size: 3px;
}

input:not([type="range"]):active,
textarea:active,
select:active,
.input:active,
.button:active,
input:not([type="range"]):focus,
textarea:focus,
select:focus,
.input:focus,
.button:focus {
    --border-color: var(--theme-primary);
    --border-size: 4px;
    outline: none;
    min-width: none;
}

.button {
    align-self: center;
    padding: 8px 16px;
    border-radius: 36px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.button--color_green {
    --border-color: lime !important;
    --bg-color: #0f02 !important;
    color: white !important;
}
.button--color_red {
    --border-color: #f04 !important;
    --bg-color: #f042 !important;
    color: white !important;
}
.button--color_blue {
    --border-color: #07f !important;
    --bg-color: #07f2 !important;
    color: white !important;
}
.button[disabled] {
    opacity: 0.8;
    filter: saturate(0);
}

/* Styles de thème */
a {
    color: var(--theme-primary);
}
a:hover {
    color: var(--theme-primary);
}
a:active {
    color: var(--theme-primary);
}

/* Styles d'utilité */
.u-font-smaller {
    font-size: 80%;
}
.u-font-bigger {
    font-size: 130%;
}

.u-margin-auto {
    margin: auto;
}

.u-no-flex {
    flex: none !important;
    width: auto;
}

.card {
    box-shadow: 0 0 0 2px grey;
    border-radius: 5px;
    padding: 16px 8px;

    display: flex;
    flex-direction: column;
}

/* Animations */
.u-hidden {
    display: none !important;
    /* transform: scale(0); */
    /* transition: transorm 200ms ease-out; */
}
:not(.u-hidden).a-blink-once {
    transform: scale(1);
    animation: blink 200ms ease-out;
}
@keyframes blink {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

/* Formulaires */
.form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.form h1 {
    font-size: 1.8em;
    text-align: center;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__group.horizontal {
    flex-direction: row;
}

.form__group > label {
    display: block;
    font-weight: bold;
    padding: 0 4px;
    padding-bottom: 12px;
}

.form .f-margin-top,
:not(.horizontal) > .form__group + .form__group {
    margin-top: 32px;
}
.form__row > .form__group {
    margin-top: 0px !important;
    flex: 1;
}
.form__row > .form__group:not(:last-child) {
    margin-right: 32px;
}

.form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form .f-margin-bottom {
    margin-bottom: 32px;
}

.form .f-margin-inline {
    margin-left: 64px;
    margin-right: 64px;
}

body > h1 {
    text-align: center;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

/* Tableau de bord */
.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    font-size: 16px;
}

.dashboard .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: 32px auto;
}

.dashboard .col + .col {
    margin-left: 16px;
}

.dashboard .box {
    padding: 8px;
}

.dashboard table {
    text-align: center;
}

.dashboard .profile-item {
    margin-bottom: 12px;
}

.dashboard .profile-item b {
    text-decoration: underline var(--theme-primary);
}

.dashboard .profile-item .value {
    margin-left: auto;
    background-color: #ccc;
    font-weight: 500;
    color: black;
    border-radius: 15px;
    padding: 4px 7px;
}

/* Menu */
nav {
    display: block;
    position: fixed;
    top: 0;
    height: var(--menu-height);
    width: 100%;
    overflow: hidden scroll;
    background-color: #111;
    z-index: 100;
}
nav ul {
    height: inherit;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
nav ul li {
    margin-right: 2ch;
}
nav ul li a {
    --border-color: var(--theme-primary);
    color: var(--border-color);
    border-radius: 20px;
    padding: 4px 10px;

    text-decoration: none;
    cursor: pointer;
    user-select: none;
}
nav a:hover {
    text-decoration: underline;
}

nav #logout-button {
    margin-left: auto;
}

nav [current] {
    --border-color: white;
}

body {
    margin-top: var(--menu-height);
    margin-bottom: var(--menu-height);
}

.route[hidden],
[hidden] {
    display: none;
}

#go-to-homepage {
    position: fixed;
    top: 0;
    left: 0;
    margin: 8px;

    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: all 200ms ease;
}
#go-to-homepage:hover {
    opacity: 1;
}

/* Tables */
table {
    border-collapse: collapse;
    border-radius: 5px;
    flex: 1;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 2px #fffa;
}
.table-wide {
    margin: 3em auto;
    box-shadow: 0 0 0 2px #fff5, 0 0 50px #b1f3;
}
.table-wide td,
.table-wide th {
    padding: 10px 0;
}

tbody tr:nth-child(2n + 1) {
    background-color: hsl(200, 0%, 50%, 0.1);
}

thead tr {
    background-color: #b1f2;
}
thead {
    border-bottom: 2px solid #fff5;
}

table td,
table th {
    border: none;
    padding: 6px 0;
}
